<%= stylesheet_link_tag "questions", :media => "all" %>

<% @questions.each do |question| %>
  	<div class="question-form">
    	<div class="card border-dark mb-3 "> 
	        	<div class="title h5 m-3" >
	        		<%= link_to question.title, question_path(question), :style=>"color:black;" "text-decoration:none;" %>
    			</div>
  			</a>
    	</div>   
 	</div>
<% end %>
