.post-question {
  margin-top: 3rem
}

.question {
  width: 667px;
  height: 90px;
  border-radius:5px;
  border-color: #BBBBBB;
}

.detail {
  width: 667px;
  height: 150px;
  border-radius:5px;
  margin-bottom: 1rem;
  border-color: #BBBBBB;
}

.question-form {
  margin-top: 3rem
}

.card {
  max-width: 50rem;
  height: 7rem;
  margin-bottom: 1.5rem;
  border: 1px solid;
  transition: 0.5s;
  &:hover {
    transform: translateY(-4px);
    border: 2px solid;

  }
}

.title-containar {
  margin: 1rem;

  .title {
  color:black;
  text-decoration:none;
  }
}

.title-show {
  margin-top: 3rem;
}

.detail-show {
  margin-top: 2.5rem;
}

.answer-question{
  margin-top: 3rem;

  p {
    margin-top: 1rem;
  }
}

.answer {
  width: 667px;
  height: 150px;
  border-radius:5px;
  margin-bottom: 1rem;
  border-color: #BBBBBB;
}

